.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
.card {
    position: relative;
    background-color: aliceblue;
    color: #333;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;

    &:hover {
        transform: scale(1.05);
    }
  }
  
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  border: none;
  border-radius: 10%;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;

  &:hover {
    background-color: #888;
  }
}

.card img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

.card-content {
    text-align: center;
}

.card-title {
    margin: 10px 0;
    font-size: 1.2em;
  }


.card-likes {
    color: #888;
  }

.material-symbols-outlined.liked {
    color: red; 
  }